.table4 {
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 1px;
    background-color: #ccc;
    direction: rtl;
    text-align: center;
    font-family: sans-serif;
  }

  .cell {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .nav {
color: rgb(2, 2, 2);
  }